<!-- <p>home works!</p> -->
<div style="height:100%; width: 100%;">
    <!-- <div style="display: flex; margin-left: 120px; align-items: center;">
      <h1>
        DICOM Web Viewer
      </h1>
  
      <div class="choose_file">
        Choose Your DICOM Files
        <input class="hide_file" type="file" multiple accept="application/dicom" id="imagens" title="selecione arquivos de imagens"
        (change)="loadDICOMImages($event.target.fileslist)">
      </div>
      <div>
        <button class="hovereffect" type="button" pButton pRipple  (click)="loadDICOMImages()"></button>
      </div>
  
  
    </div> -->
  
    <div style="display: flex;height: calc(100% - 90px); width:100%;">
      <webimage-viewer style="height:100%; width:100%; margin: 10px;"></webimage-viewer>
    </div>
</div>
  