<div id="img">
         
    <h2 class="hovereffect" style="text-align:center;font-size:40px;color:white;padding-top: 5rem;padding-bottom: 5rem;">Welcome Admin</h2>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4" style="display: grid;" >
            <button routerLink="/registeruser" type="submit" class="btn hovereffect" style="border:groove"><strong>Register New User</strong></button>&nbsp;&nbsp;
            <br/>
            <button type="submit" class="btn hovereffect" style="border:groove"><strong>Edit Existing Users List</strong></button>&nbsp;&nbsp;
            <br/>
            <button type="submit" class="btn hovereffect" style="border:groove"><strong>Add New Role</strong></button>&nbsp;&nbsp;
            <br/>
            <button (click)="logOut()" type="submit" class="btn hovereffect" style="border:groove"><strong>Logout</strong></button>&nbsp;&nbsp;
        </div>
        <div class="col-md-4">
            
        </div>
    </div>
</div>
