<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ContainerName" value="dicomblob"/>
    <add key="StorageAccountName" value="dcmprocesscontainer"/>
    <add key="DICOMFilesPath" value="C:\temp"/>
    <add key="KeyVaultURI" value="https://dcmprocesskeyvault.vault.azure.net/"/>
    <add key="KeyVaultName" value="dcmprocesskeyvault"/>
    <add key="APIURL" value="https://dcmprocessapiservice.azurewebsites.net/api/"/>
</appSettings>
</configuration>