<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=iupackagecontainer;AccountKey=Z4UcFW6DFpWxa0dMX27N5CC+ZlgKCeIrdMcrFgYT5aO9k18f8XxhlaxZIXpA04PUcuR7iI8Av0YC+AStIsnxzw==;EndpointSuffix=core.windows.net"/>
    <add key="StorageConnectionKey" value="Z4UcFW6DFpWxa0dMX27N5CC+ZlgKCeIrdMcrFgYT5aO9k18f8XxhlaxZIXpA04PUcuR7iI8Av0YC+AStIsnxzw=="/>
    <add key="ContainerName" value="dicomblob"/>
    <add key="StorageAccountName" value="iupackagecontainer"/>
    <add key="DICOMFilesPath" value="C:\temp"/>
    <add key="KeyVaultURI" value="https://iudatakeyvault.vault.azure.net/"/>
    <add key="KeyVaultName" value="IUDataKeyVault"/>

</appSettings>
</configuration>