<div id="img">
         
    <h2 class="hovereffect" style="text-align:center;font-size:40px;color:white;padding-top: 5rem;padding-bottom: 5rem;">Welcome Radiologist</h2>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4" style="display: grid;" >
            <button routerLink="/patientdashboard" type="submit" class="btn hovereffect" style="border:groove"><strong>View Patients</strong></button>&nbsp;&nbsp;
            <br/>
            <button type="submit" class="btn hovereffect" style="border:groove"><strong>Edit Patient List</strong></button>&nbsp;&nbsp;
            <br/>
            <br/>
            <br/>
            <br/>
            <button type="submit" class="btn hovereffect" style="border:groove"><strong>Edit Profile</strong></button>&nbsp;&nbsp;
            <br/>
            <button (click)="logOut()" type="submit" class="btn hovereffect" style="border:groove"><strong>Logout</strong></button>&nbsp;&nbsp;
        </div>
        <div class="col-md-4">
            
        </div>
    </div>
</div>
